custom-bus-card[data-color="0"] {

    --bus-card-active-bg: #84B0F0;
}
[data-bs-theme="dark"] custom-bus-card[data-color="0"] {
    
    --bus-card-active-bg: #11448F;
}

custom-bus-card[data-color="1"] {

    --bus-card-active-bg: #D79D9D;
}
[data-bs-theme="dark"] custom-bus-card[data-color="1"] {
    
    --bus-card-active-bg: #D32F2F;
}


custom-bus-card[data-color="2"] {

    --bus-card-active-bg: #A0D68A;
}
[data-bs-theme="dark"] custom-bus-card[data-color="2"] {
    
    --bus-card-active-bg: #388E3C;
}


custom-bus-card[data-color="3"] {

    --bus-card-active-bg: #C48BFF;
}
[data-bs-theme="dark"] custom-bus-card[data-color="3"] {
    
    --bus-card-active-bg: #7B1FA2;
}

custom-bus-card[data-color="4"] {

    --bus-card-active-bg: #48A999;
}
[data-bs-theme="dark"] custom-bus-card[data-color="4"] {
    
    --bus-card-active-bg: #00695C;
}

custom-bus-card[data-color="5"] {

    --bus-card-active-bg: #FF80AB;
}
[data-bs-theme="dark"] custom-bus-card[data-color="5"] {
    
    --bus-card-active-bg: #C2185B;
}
