---
import Layout from "@/layouts/Layout.astro";

import Map from "@/components/recorridos/Map/index.astro";
import MapOffcanvas from "@/components/recorridos/MapOffcanvas.astro";
import VerticalTabsMenu from "@/components/recorridos/VerticalTabsMenu.astro";
import Tab from "@/components/recorridos/Tab.astro";
import About from "@/components/recorridos/About.astro";
import Donations from "@/components/Donations.astro";
import PlayButton from "@/components/recorridos/Map/PlayButton.astro";

const ASIDE_TABS = [
    {name: 'Recorridos', id: 'recorridos', icon: 'bi-shuffle', active: true},
    {name: 'Acerca de', id: 'acerca-de', icon: 'bi-info-circle'},
];
---

<Layout title="Map">

	<main>
		
		<Map />

		<MapOffcanvas show>
	
			<VerticalTabsMenu tabs={ASIDE_TABS} slot="aside-content">

		
				<Tab slot="acerca-de" title="Acerca de">
					<About>
		
						<Donations />
		
					</About>
				</Tab>
		
			</VerticalTabsMenu>

			<Fragment slot="controls">
				<PlayButton />
			</Fragment>
			
		</MapOffcanvas>

	</main>


</Layout>

<style is:global>

  	body {
		overflow: hidden;
	}

	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		& > * {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}
</style>