---
import HorizontalTabsMenu from "@/components/HorizontalTabsMenu.astro";
import Layout from "@/layouts/Layout.astro";
import BusCard from "@/components/BusCard/index.astro";

const RECORRIDOS_TABS = [
	{name: 'Urbano', id: 'urbano', label: 'Urbano', active: true},
	{name: 'Interurbano', id: 'interurbano', label: 'Interurbano'},
	{name: 'Otros', id: 'otros', label: 'Otros'}
]
---


<Layout title="Test">

    <div class="Container">

        <BusCard />

    </div>


</Layout>

<style>
    .Container {
        width: 600px;
        height: 400px;
        margin: 50px auto;

        outline: 1px dashed gray;
        overflow: hidden;
        resize: both;
        padding: 10px;
    }

</style>
